apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: amq-broker-service-monitor
  namespace: {{ cluster_project }}
spec:
  endpoints:
    - interval: 30s
      port: console-jolokia
      scheme: http
  selector:
    matchLabels:
      application: {{ artemis_cluster_name }}-app